
@media (max-width: 640px) {

  .col-xs-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }


  .gray-back {
    overflow-x: inherit !important;

    .container {
      padding: 35px !important;
      width: 100% !important;
      max-width: 640px !important;

      .carousel {
        display: block;

        &-indicators {
          bottom: -35px;

          li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #000000;

            &.active {
              background-color: rgba(0,0,0,.3);
            }
          }
        }
      }

      .row {
        display: none;
      }
    }
  }

  .bottom-block {
    padding: 30px !important;

    & > .row .row > div {
      flex: 0 0 100% !important;
      max-width: 100% !important;

      a {
        display: block;
      }
    }

  }

}

@media (max-width: 768px) {

  #navbarNav {
    display: none;
  }
  .left-buttons-mobile {
    display: block !important;
  }

  .left-buttons {
    display: none;
  }


  .left-links {
    padding: 0 !important;

    .list-group-item {
      border-top: none !important;



      &:nth-child(even) {
        padding-left: 15px !important;
        border-left: 1px solid #fafafa !important;
      }

      &:nth-child(odd) {
        padding-right: 15px !important;
      }
    }
  }





  .gray-back {
    overflow-x: scroll;

    .container {
      padding: 35px !important;
      width: 1028px;
      max-width: 1028px;
    }

    .carousel {
      display: none;
    }
  }



  .bottom-block {
    &__social {
      margin-top: 15px !important;
    }
    & > .row .row > div > h5 {
      margin-top: 15px !important;
    }
  }
}