$white: #fff;
$red: #893b67;
$light-red: #dfc3d3;
$dark-gray: #5e6165;
$middle-gray: #808080;
$light-gray: #ddddde;
$dark: #565f66;
$dark-text: #414141;


$accordion-active: #fcfcfc;
$accordion-gray: #5a5a58;


